body {
	text-align: center;
	background-color:#BAEBB7;
	color:black;
	margin: 0;
}

#texto_1 {
	text-align: left;
	margin-left: 30px;
	margin-right: 30px;
}

#tabela_1 {
	text-align: center;
	border-style: solid;
	margin-left: auto;
	margin-right: auto;
	border-collapse: separate;
	border-spacing: 20px;
	width: 100%
}


a,
a:active{
  color: black;
  text-decoration: none;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #84B980;
  display:inline-block;
  width: 100%
}

li{
  float: left;
}

li a{
  display: block;
  text-align: center;
  padding: 17px 20px;
}

li a:hover{
  background-color: #C70039;
}

p{
  text-align: justify;
  max-width: 60%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: green;
  color: white;
  text-align: center;
}
